<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login stránka</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Pridať ďalšiu položku</h2>
    <form action="/add_device" method="post">
        <label for="serial_number">Sériové číslo:</label>
        <input type="text" id="serial_number" name="serial_number">
        <label for="fw">Verzia firmware:</label>
        <input type="text" id="fw" name="fw">
        <label for="uroven">Úroveň:</label>
        <input type="text" id="uroven" name="uroven">
        <label for="faktura">Faktúra:</label>
        <input type="text" id="faktura" name="faktura">
        <label for="datum">Dátum:</label>
        <input type="text" id="datum" name="datum"><br>
        <button type="submit">Pridať</button>
    </form>

    </div>
</body>
</html>