<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitajte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Vitajte, {{ username }}</h1>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Odhlásiť</a>
        <h2 class="mt-4">Záznamy</h2>
        <table id="recordsTable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Sériové číslo</th>
                    <th>Verzia firmware</th>
                    <th>Úroveň</th>
                    <th>Faktúra</th>
                    <th>Dátum</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.serial_number }}</td>
                    <td>{{ record.fw }}</td>
                    <td>{{ record.uroven }}</td>
                    <td>{{ record.faktura }}</td>
                    <td>{{ record.datum }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Možnosti</h2>
        <a href="{{ url_for('add_device') }}" class="btn btn-primary">Pridať zariadenie</a>
        <a href="{{ url_for('search') }}" class="btn btn-primary">Vyhľadať záznamy</a>
        <a href="{{ url_for('export_data') }}" class="btn btn-success">Exportovať do CSV</a>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="file">Vyberte CSV súbor:</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-info">Importovať</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#recordsTable').DataTable();
        });
    </script>
</body>
</html>
