<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login stránka</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="login-container">
        <h2>Prihlásenie</h2>
        <form action="/login" method="post">
            <label for="username">Používateľské meno</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Heslo</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Prihlásiť sa</button>
        </form>
    </div>
</body>
</html>
